.App {
  text-align: center;
  background-color: #eeee;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #36454f;
  height: 55px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.centered {
  display: inline-block;
  float: none;
  margin-bottom: -5px;

}

.navbar {
  box-sizing: border-box;
  border-bottom: 5px solid #d3d3d3;
}

.panel-heading {
  background-color: white;
}
.custom-panel {
  background-color: white;
}
.bsClass {
  background-color: white;
}
.custom {
  background-color: white;
  font-size: 20px;
}

.bottomLine {
  border-bottom: 5px solid #36454f;
  width: 10em;
  margin-bottom: -1em;
  margin-left: 5px;
  margin-right: 5px;
}
